<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binkery.ipassword">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".PasswordApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_verified_user_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_verified_user_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity" />
        <activity android:name=".AddItemActivity" />
        <activity android:name=".ItemViewActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".PasswordSettingActivity" />
        <activity android:name=".PasswordCheckingActivity" />

        <activity android:name=".ExportDataActivity" />
        <activity android:name=".ImportDataActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".SettingActivity" />
    </application>

</manifest>